@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-family: Arial, Helvetica, sans-serif;
  }
}

:focus-visible {
  outline: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-none::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-none {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}


/*google menu*/

.menu-container {
  width: 100px;
  position: relative;
}

.menu {
  /* position: absolute; */
  /* top: 100px; */
  right: 0px;
  /* transform: translateX(-5%); */
  width: var(--menu-width);
  height: var(--menu-height);

  background-color: white;
  /* overflow-y: scroll; */
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0px;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 2px 6px 2px rgba(60, 64, 67, 0.15);
}

.menu-btn>svg {
  text-align: center;
  height: 48px;
  width: 48px;
  position: relative;
  display: block;
  color: #5f6368;
}

[data-is-closed="true"] .menu-btn:before {
  content: "";
  background-color: rgba(60, 64, 67, 0.2);
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: scale(1.5);
  display: block;
  z-index: -10;
}


[data-is-closed="true"] .menu {
  display: none;
}





.icons-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  /* gap: 1.5rem; 
    padding: 20px 16px 20px 20px;*/
}

.divider {
  height: 1px;
  background-color: #e8eaed;
}

.link {
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: initial;
  position: relative;
  text-align: center;
  display: inline-block;
  /* z-index: 10; */
  border-right: solid .2px #c9b5b559;
  /* border-left: solid .2px gray; */
  border-bottom: solid .2px #c9b5b559;
  /* border-top: solid .2px gray; */
}

.link>span {
  white-space: nowrap;
  overflow: hidden;
  width: 76px;
  display: inline-block;
  text-overflow: ellipsis;
}

.bg-hover:hover:before {
  content: "";
  background-color: var(--hover-bg-color);
  border-radius: 8px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: scale(1.1);
  display: block;
  z-index: -10;
}

[data-is-closed="true"] .circle-hover:hover:before {
  content: "";
  background-color: rgba(60, 64, 67, 0.08);
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: scale(1.5);
  display: block;
  z-index: -10;
}

.bg-hover:hover:active:before {
  background-color: var(--active-bg-color);
}

.pointer {
  cursor: pointer;
}

.google-icons {
  display: inline-block;
  height: 64px;
  vertical-align: top;
  width: 64px;
  background-image: url("https://ssl.gstatic.com/gb/images/p1_799229b0.png");
  background-size: 64px 2962px;
}

.avatar-icon {
  background-position: 0 -2691px;
}

.search-icon {
  background-position: 0 -690px;
}

.gmail-icon {
  background-position: 0 -1449px;
}

.drive-icon {
  background-position: 0 -1380px;
}

.docs-icon {
  background-position: 0 -2622px;
}

.sheets-icon {
  background-position: 0 -276px;
}

.presentation-icon {
  background-position: 0 -1242px;
}

.calendar-icon {
  background-position: 0 -2829px;
}

.chat.icon {
  background-position: 0 -345px;
}

.meet-icon {
  background-position: 0 -2001px;
}

.sites-icon {
  background-position: 0 -621px;
}

.contacts-icon {
  background-position: 0 -1518px;
}

.discuss-icon {
  background-position: 0 -1104px;
}

.youtube-icon {
  background-position: 0 -1863px;
}

.play-icon {
  background-position: 0 -1035px;
}

.maps-icon {
  background-position: 0 -138px;
}

.news-icon {
  background-position: 0 -414px;
}

.photos-icon {
  background-position: 0 -2760px;
}

.translator-icon {
  background-position: 0 -828px;
}

.duo-icon {
  background-position: 0 -2346px;
}

.chrome-icon {
  background-position: 0 -1725px;
}

.books-icon {
  background-position: 0 -2415px;
}

.art-culture-icon {
  background-position: 0 -1173px;
}

.ads-icon {
  background-position: 0 -552px;
}

.blogger-icon {
  background-position: 0 -966px;
}

.shopping-icon {
  background-position: 0 -2208px;
}

.hangout-icon {
  background-position: 0 -1794px;
}

.keep-icon {
  background-position: 0 -897px;
}

.jamboard-icon {
  background-position: 0 -1932px;
}

.earth-icon {
  background-position: 0 -2277px;
}

.collections-icon {
  background-position: 0 -759px;
}

.podcasts-icon {
  background-position: 0 -1311px;
}

/* ----------------- MORE BUTTON -------------- */

.more-btn-container {
  text-align: center;
  position: relative;
}

.more-btn {
  width: 55%;
  background-color: white;
  border: 1px solid #dadce0;
  border-radius: 4px;
  color: #1a73e8;
  font: 500 14px/16px "Google Sans", Roboto, RobotoDraft, Helvetica, Arial,
    sans-serif;
  margin: 16px 0 20px 0;
  padding: 10px 24px;
}

.more-btn:hover {
  background-color: var(--hover-bg-color);
  border-color: var(--active-bg-color);
}

.more-btn:active {
  outline: 0;
  background-color: var(--active-bg-color);
}

.more-btn:focus {
  outline: 0;
}

.more-btn:focus:active {
  background-color: #ecf3fe;
  border-color: transparent;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 2px 6px 2px rgba(60, 64, 67, 0.15);
}

/* ----------------- SCROLLBAR -------------- */

::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-thumb {
  background: #dadce0;
  background-clip: padding-box;
  border: 4px solid transparent;
  border-radius: 8px;
  box-shadow: none;
  min-height: 50px;
}

::-webkit-scrollbar-track {
  background: none;
  border: none;
}

#menu-container svg path {
  fill: white;
  /* Change la couleur du texte en blanc */
  width: 32px;
  height: 32px;

}

#menu-container {
  cursor: pointer;
}




/*Mobile menu */


#menu-container {
  cursor: pointer;
}

@media (max-width: 915px) {
  .menu {
    position: absolute;
    /* top: 70px; */
    right: 0px;
    /* transform: translateX(-5%); */
    width: 357px;
    height: var(--menu-height);
    z-index: 1;
    background-color: white;
    /* overflow-y: scroll; */
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
      0 2px 6px 2px rgba(60, 64, 67, 0.15);
  }

  .menu-btn>svg {
    text-align: center;
    height: 48px;
    width: 48px;
    position: relative;
    display: block;
    color: #5f6368;
  }

  [data-is-closed="true"] .menu-btn:before {
    content: "";
    background-color: rgba(60, 64, 67, 0.2);
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: scale(1.5);
    display: block;
    z-index: -10;
  }


  [data-is-closed="true"] .menu {
    display: none;
  }





  .icons-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    /* gap: 1.5rem; 
        padding: 20px 16px 20px 20px;*/

  }

  .mx-4 {

    margin-left: 2.4rem !important;
    /* margin-top: 1.4rem !important; */
  }

  .link {
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: initial;
    position: relative;
    text-align: center;
    display: inline-block;
    /* z-index: 10; */
    border-right: solid .2px #c9b5b559;
    /* border-left: solid .2px gray; */
    border-bottom: solid .2px #c9b5b559;
    /* border-top: solid .2px gray; */
  }

  .link>span {
    white-space: nowrap;
    overflow: hidden;
    width: 76px;
    display: inline-block;
    text-overflow: ellipsis;
  }

  .bg-hover:hover:before {
    content: "";
    background-color: var(--hover-bg-color);
    border-radius: 8px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: scale(1.1);
    display: block;
    z-index: -10;
  }

  [data-is-closed="true"] .circle-hover:hover:before {
    content: "";
    background-color: rgba(60, 64, 67, 0.08);
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: scale(1.5);
    display: block;
    z-index: -10;
  }

  .bg-hover:hover:active:before {
    background-color: var(--active-bg-color);
  }

  .pointer {
    cursor: pointer;
  }


}